.lab3Cont{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr; /* Два стовпці по 50% */
    grid-template-rows: auto 1fr; /* Два рядки: перший автоматичний, другий заповнює доступне місце */
    
}

#cont1_1,#cont1_2,#cont1_3,#cont1_4,#cont1_5{
    overflow: hidden;
    margin: 40px;
}

table{
    flex-grow: 1;
    overflow-y: auto;
    display: block;
    max-height: 330px; /* Робимо прокрутку тільки в межах контейнера */
}

table::-webkit-scrollbar {
    width: 8px;
}

table::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 4px;
}

table::-webkit-scrollbar-thumb:hover {
    background: #555;
}


#cont1_1,#cont1_2 {
    grid-column: span 2; 
}

#cont1_3,#cont1_4, #cont1_5{
    grid-column: span 4; 
}

tr{
    text-align: center;
}

th{
    padding: 8px;
    background-color: rgb(173, 218, 218);
}