/* Загальний стиль сторінки */
.accBody {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: grid;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #f4f4f4;
}

/* Центруємо текст у заголовку */
.accCont {
    text-align: center;
    margin-bottom: 20px;
    display: grid;
}


/* Стилі для таблиць */
#songsPoll {
    background: white;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    grid-column: 1 / 2;
}

#protocolContainer {
    background: white;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    grid-column: 2 / 3;
}


/* Оформлення заголовків */
h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

h3 {
    font-size: 20px;
    margin-bottom: 10px;
}

/* Оформлення таблиць */
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}

th {
    background-color: #007bff;
    color: white;
}

/* Адаптація для мобільних пристроїв */
@media (max-width: 768px) {
    .grid-container {
        grid-template-columns: 1fr; /* Один стовпець на вузьких екранах */
        width: 90%;
    }
}
